<div style="padding-top: 2.5cm;">
<h1 class="container">Departments</h1>
<table class="table">
    <tr>
        <th>name</th>
        <th>code</th>
    </tr>
    {{#each department}}
    <tr>
    <th>{{name}}</th>
    <th>{{code}}</th>
    <th><a href="/department/show/{{_id}}">Edit</a> | <form action="/department/{{_id}}?_method=DELETE" method="post"> <button type="submit">Delete</button></th></form>
    </tr>

    {{/each}}
    <tr>
        <th>   </th>
        <th><a href="/department/create">ADD New Department</a></th>
    </tr>
</table>
</div>
<br>
<!-- table 2 -->
<div>
<h1 class="container">Subjects</h1>
<table class="table">
    <tr>
        <th>name</th>
        <th>code</th>
        <th>department</th>
        <th>Doctor</th>
    </tr>
    {{#each subject}}
    <tr>
    <th>{{name}}</th>
    <th>{{code}}</th>
    <th>{{department}}</th>
    <th>{{doctor}}</th>
    
    <th><a href="/subjects/show/{{_id}}">Edit</a> | <a href="/subjects/deleteone/{{_id}}">Delete</a></th>
    </tr>

    {{/each}}
    <tr>
        <th>   </th>
        <th>   </th>
        <th><a href="/subjects/create">ADD New Subjects</a></th>
    </tr>
</table>
</div>
<br>
<!-- table 3 -->
<div>
<h1 class="container">Students</h1>
<table class="table">
    <tr>
        <th>name</th>
        <th>Email</th>
        <th>password</th>
        <th>academic number</th>
        <th>department</th>
    </tr>
    {{#each student}}
    <tr>
    <th>{{name}}</th>
    <th>{{email}}</th>
    <th>{{password}}</th>
    <th>{{academicNum}}</th>
    <th>{{department}}</th>
    <th><a href="#">Edit</a> | <a href="#">Delete</a></th>
    </tr>

    {{/each}}
    <tr>
        <th>   </th>
        <th><a href="/student/create">ADD New Student</a></th>
    </tr>
</table>
</div>
<br>
<!-- table 4 -->
<div>
<h1 class="container">Doctors</h1>
<table class="table">
    <tr>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>department</th>
    </tr>
    {{#each doctor}}
    <tr>
    <th>{{name}}</th>
    <th>{{email}}</th>
    <th>{{password}}</th>
    <th>{{department}}</th>
    <th><a href="#">Edit</a> | <a href="#">Delete</a></th>
    </tr>

    {{/each}}
    <tr>
        <th>   </th>
        <th><a href="/doctor/create">ADD New Doctor</a></th>
    </tr>
</table>
</div>
